<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kharazmic.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".main.desk.constant.detail.ConstantIncomeDetailActivity"></activity>
        <activity android:name=".main.desk.CashDeskActivity" />
        <activity android:name=".main.news.NewsDetailActivity" />
        <activity
            android:name=".main.profile.setting.activities.EditProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".main.gold.currency_fragment.AllCurrencyActivity" />
        <activity android:name=".main.gold.GoldCurrencyActivity" />
        <activity android:name=".main.stock.StockActivity" />
        <activity android:name=".main.profile.signals.SignalDetailActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.ValidateActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kharazmic.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>